﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactenos</title>
</head>
<body>
    <div>
         <p>: Nombre: christian camilo 
             correo: christafari2010@gmail.com
             codigo:0172009454
         </p>  
    </div>
</body>
</html>
